/bin_for_eclipse/
.DS_Store
.classpath
.project
.settings/
bin/
build.properties
internal-stuff/
source/.DS_Store
source/org/.DS_Store
webroot/WEB-INF/classes/dictionary.properties
dist/docs
dist/java-web-start
dist/lib-jws
dist/releases
dist/source
Fonts/dist