DEF_LOOKUP "DECOMP" PROCESS_BASE PROCESS_MARKS ALL DIRECTION LTRIN_CONTEXTEND_CONTEXTAS_SUBSTITUTIONSUB GLYPH "uni0F77"WITH GLYPH "uni0FB2" GLYPH "uni0F71" GLYPH "uni0F80"END_SUBSUB GLYPH "uni0F79"WITH GLYPH "uni0FB3" GLYPH "uni0F71" GLYPH "uni0F80"END_SUBSUB GLYPH "uni0F73"WITH GLYPH "uni0F71" GLYPH "uni0F72"END_SUBSUB GLYPH "uni0F76"WITH GLYPH "uni0FB2" GLYPH "uni0F80"END_SUBSUB GLYPH "uni0F78"WITH GLYPH "uni0FB3" GLYPH "uni0F80"END_SUBSUB GLYPH "uni0F81"WITH GLYPH "uni0F71" GLYPH "uni0F80"END_SUBEND_SUBSTITUTION