DEF_LOOKUP "UN72B" PROCESS_BASE PROCESS_MARKS ALL DIRECTION LTRIN_CONTEXT LEFT GROUP "UN72BGLYPHS"END_CONTEXTAS_SUBSTITUTIONSUB GLYPH "uni0F74"WITH GLYPH "uni0F74.altN72b"END_SUBEND_SUBSTITUTION