DEF_LOOKUP "VN108" PROCESS_BASE PROCESS_MARKS ALL DIRECTION LTRIN_CONTEXT LEFT GROUP "VN108GLYPHS"END_CONTEXTAS_SUBSTITUTIONSUB GLYPH "uni0F71"WITH GLYPH "uni0F71.altN108"END_SUBSUB GLYPH "uni0F74"WITH GLYPH "uni0F74.altN108"END_SUBSUB GLYPH "uni0F75"WITH GLYPH "uni0F75.altN108"END_SUBEND_SUBSTITUTION